﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-cener">
            <div class="card-body">
                <h4 class="card-title">Wallet Generataor</h4>
                <p class="card-text">Click on the button below to generate your blockchain wallet</p>
                <input type="button" id="generate_wallet"  class="btn btn bg-primary btn-lg" value="Generate Wallet" />
            </div>
        </div>
    </div>
</div>

<br />

<div class="container">
    <div class="row">
        <label class="col-sm-12">Public Key</label>
        <div class="col-sm-10">
            <textarea id="public_key" rows="5" class="form-control" readonly></textarea>
        </div>
    </div>

    <br />

    <div class="row">
        <label class="col-sm-12">Private Key</label>
        <div class="col-sm-10">
            <textarea id="private_key" rows="5" class="form-control" readonly></textarea>
        </div>
    </div>

    <br />

    <div class="row" id="warning" style="display:none">
        <div class="col-sm-12">
            <div class="alert alert-danger" role="alert">
                IMPORTANT
                <ul>
                    <li>Save your private and public keys.These keys cannot be recorverer</li>
                    <li>Dont share your private key with any one</li>
                </ul>
            </div>
            
        </div>
    </div>
</div>

<link rel="stylesheet" href="~/static/bootstrap-3.4.1/dist/css/bootstrap.min.css" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

<script>
    $(function () {
        $("#generate_wallet").click(function () {
            $.ajax({
                url: '/wallet/new',
                type: 'GET',
                success: function (response) {
                    document.getElementById("private_key").innerHTML = response['private_key'];
                    document.getElementById("public_key").innerHTML = response['public_key'];
                    document.getElementById("warning").style.display = "block";
                }
                
            })
        })
    })
</script>


