﻿
@{
    ViewData["Title"] = "Make Transaction";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card-body">
                <h4 class="card-title">Send Coins</h4>
                <p class="card-text">Enter transaction details and click on "Generate transactions" button to generate transaction</p>
            </div>
        </div>
    </div>
</div>

<div class="container alert alert-info">
    <form id="transaction_form">

        <div class="row">
            <label class="col-sm-2">Sender Address</label>
            <div class="col-sm-10">
                <input type="text" name="sender_address" id="sender_adress" rows="2" class="form-control" />
            </div>
        </div>

        <br />
        <div class="row">
            <label class="col-sm-2">Sender Private Key</label>
            <div class="col-sm-10">
                <input type="text" name="sender_private_key" id="sender_private_key" rows="2" class="form-control" />
            </div>
        </div>
        <br />

        <div class="row">
            <label class="col-sm-2">Receiver Address</label>
            <div class="col-sm-10">
                <input type="text" name="receiver_address" id="receiver_address" rows="2" class="form-control" />
            </div>
        </div>

        <br />

        <div class="row">
            <label class="col-sm-2">Amount To Send</label>
            <div class="col-sm-10">
                <input type="text" name="amount" id="amount" rows="2" class="form-control" />
            </div>
        </div>

        <br />

        <div class="row">
            <label class="col-sm-2">Miner Fees</label>
            <div class="col-sm-10">
                <input type="text" name="fees" id="fees" rows="2" class="form-control" />
            </div>
        </div>

        <input type="button" id="generate_transaction" class="btn btn-primary btn-lg" value="Generate Transaction" />


    </form>
</div>

<!--Modal-->
<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title col-md-10">Confirm transaction details, enter a blockchain node url</div>
                <button type="button" class="close col-md-2" data-dismiss="modal" a aria-hidden="true"></button>
            </div>

            <div class="modal-body">
                <form id="confirmation_transaction_form">
                    <div class="row">
                        <label class="col-sm-2">Sender Address</label>
                        <div class="col-sm-10">
                            <input id="confirmation_sender_address"  type="text" name="Sender" rows="2" class="form-control" value="" />
                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <label class="col-sm-2">Receiver Address</label>
                        <div class="col-sm-10">
                            <input id="confirmation_receiver_address"  type="text" name="Receiver" rows="2" class="form-control" value="" />
                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <label class="col-sm-2">Amount To Send</label>
                        <div class="col-sm-10">
                            <input id="confirmation_amount" type="text" name="Amount" rows="2" class="form-control" value="" />
                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <label class="col-sm-2">Miner Fees</label>
                        <div class="col-sm-10">
                            <input id="confirmation_fees" type="text" name="Fees" rows="2" class="form-control" value="" />
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-sm-2">Transaction Signature</label>
                        <div class="col-sm-10">
                            <input id="transaction_signature" readonly type="text" name="Signature" rows="2" class="form-control" value="" />
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-sm-2">Node URL</label>
                        <div class="col-sm-10">
                            <input type="text" name="node_url" id="node_url" rows="2" class="form-control" value="" />
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button type="button" id="button_confirm_transaction" class="btn btn-success">Confirm Transaction</button>
            </div>
        </div>

        
    </div>
</div>

<link rel="stylesheet" href="~/static/bootstrap-3.4.1/dist/css/bootstrap.min.css" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

<script>
    $(function () {
        function getFormData($form) {
            var unindexed_array = $form.serializeArray();
            var indexed_array = {};

            $.map(unindexed_array, function (n, i) {
                indexed_array[n['name']] = n['value'];
            });

            return indexed_array;
        }

        

        $("#generate_transaction").click(function () {
            var $form = $("#transaction_form");
            var data = JSON.stringify(getFormData($form));
            $.ajax({
                url: "/generate/transaction",
                type: "POST",
                dataType: 'json',
                contentType:'application/json;charset=utf-8',
                data: data,
                success: function (response) {
                   // console.log(response);
                    document.getElementById("confirmation_sender_address").value = response["transaction"]["sender_address"];
                    document.getElementById("confirmation_receiver_address").value = response["transaction"]["receiver_address"];
                    document.getElementById("confirmation_amount").value = response["transaction"]["amount"];
                    document.getElementById("confirmation_fees").value = response["transaction"]["fees"];
                    document.getElementById("transaction_signature").value = response["signature"];

                    $("#basicModal").modal('show');
                },
                error: function (error) {
                    console.log(error);
                }
            })
        })
    });

    $(function () {

        function getFormData($form) {
            var unindexed_array = $form.serializeArray();
            var indexed_array = {};

            $.map(unindexed_array, function (n, i) {
                indexed_array[n['name']] = n['value'];
            });

            return indexed_array;
        }

        $("#button_confirm_transaction").click(function () {
            var $form = $("#confirmation_transaction_form");
            var data = JSON.stringify(getFormData($form));
            console.log(data);
            $.ajax({
                url: document.getElementById("node_url").value + "/transactions/new",
                type: "POST",
                headers: { 'Access-Control-Allow-Origin': "*" },
                dataType: 'json',
                contentType: "application/json;charset = utf-8",
                data: data,
                success: function (response) {
                    //reset forms
                    $("#transaction_form")[0].reset();
                    alert(response["message"]);

                    $("#basicModal").modal('hide');
                },
                error: function (error) {
                    console.log(error);
                }
            })
        })
    })

       
   
</script>