﻿
@{
    ViewData["Title"] = "ViewTransaction";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card-body">
                <h4 class="card-title">View Transactions</h4>
                <p class="card-text">Enter a blockchain node URL and click on "View Transactions" button to view the transactions</p>
            </div>
        </div>
    </div>
</div>

<div class="container alert alert-info">
    @using (Html.BeginForm())
    {
        <div class="row">
            <label class="col-sm-2">Node URL:</label>
            <div class="col-sm-10">
                <textarea id="node_url" name="node_url" rows="2" class="form-control" placeholder="http://127.0.0.1"></textarea>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-lg-12 text-center">
                <input type="submit" id="view_transactions" class="btn btn-primary btn-lg" value="View Transactions" />
            </div>
        </div>
    }
</div>

@{
    var blocks = new List<Block>();
    if (ViewBag.Blocks != null)
    {
        blocks = ViewBag.Blocks;
    }
}

<div class="container">
    <table id="transaction_table" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th width="20%">Receiver</th>
                <th width="20%">Sender</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Block</th>
            </tr>
        </thead>
        <tbody>
            @{
                int j = 1;
            }
            @foreach (var block in blocks)
            {
                foreach (var item in block.Transactions)
                {
                    <tr>
                        <td>@j</td>
                        <td>@item.Receiver</td>
                        <td>@item.Sender</td>
                        <td>@item.Amount</td>
                        <td>@block.TimeStamp</td>
                        <td>@block.Index</td>
                    </tr>
                    j++;
                }
            }
        </tbody>
    </table>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="~/static/datatables.js"></script>
<link rel="stylesheet" href="~/static/datatables.min.css" />



<script>
    $(function () {
        $("#transaction_table").DataTable();
    })
</script>
