﻿
@{
    ViewData["Title"] = "WalletTransaction";
    string Sender = ViewBag.publicKey;
}

<h2>WalletTransaction</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card-body">
                <h4 class="card-title">Wallet Transactions</h4>
                <p class="card-text">Enter a blockchain public key and click on "Wallet Transaction" to view Transaction</p>
            </div>
        </div>
    </div>
</div>

<div class="container alert alert-info">
    @using (Html.BeginForm())
    {
        <div class="row">
            <label class="col-sm-2">Public Key</label>
            <div class="col-sm-10">
                <textarea id="node_url" name="publickey" rows="1" class="form-control"></textarea>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-lg-12 text-center">
                <input type="submit" id="view_transactions" class="btn btn-primary btn-lg" value="Wallet Transaction" />
            </div>
        </div>
    }
</div>

<br />

<div class="container">
    <table id="transaction_table" class="table table-striped table-bordered" cellspacing="0">
        <thead>
            <tr>
                <th>#</th>
                <th width="20%">Receiver Address</th>
                <th width="20%">Sender Address</th>
                <th>Amount</th>
            </tr>
        </thead>

        <tbody>
            @{
                int j = 0;
                int balance = 0;
            }
            @foreach (var item in Model)
            {
                if (item.Receiver == Sender)
                {
                    balance += item.Amount;
                }
                else
                {
                    balance -= item.Amount;
                }
                <tr>
                    <td>@j</td>
                    <td>@item.Receiver</td>
                    <td>@item.Sender</td>
                    <td>@item.Amount</td>
                </tr>
                j++;
            }
        </tbody>

    </table>

    <b>Total balance:@balance</b>

</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="~/static/datatables.js"></script>
<link rel="stylesheet" href="~/static/datatables.min.css" />

<script>
    $(function () {
        $("#transaction_table").DataTable();
    })
</script>