﻿@{
    ViewData["Title"] = "CoinBase";
    Layout= null;
}

<link rel="stylesheet" href="~/static/bootstrap-3.4.1/dist/css/bootstrap.min.css" />
<div class="container">
    <h2>CoinBase</h2>

    @{
        var blocks = ViewBag.Blocks;
    }

    <div class="row row-horizontal">
        @{ 
            int i = 0;
            int j = 0;
        }
        @foreach(var block in blocks)
        {
            <div class="col-xs-7">
                <div id="block1chain1well" class="well well-sm has-success" style="">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="block1chain1number" class="col-sm-2 control-label">Block</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon">#</span>
                                    <input id="block1chain1number" type="text" value="@i" onkeyup="updateChain(1, 1);" class="form-control" />

                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                                <label for="blockchain1nonce" class="col-sm-2 control-label">Nonce:</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="block1chain1nonce" type="text" value="@block.Proof" onkeyup="updateChain(1, 1);" />

                                </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Tx:</label>
                            <div class="col-sm-10">
                                @foreach (var item in block.Transactions)
                                {
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            $
                                        </div>
                                        <input id="blockchain1tx0value" type="text" value="@item.Amount" onkeyup="updateChain(1, 1);" class="form-control" />
                                        <div class="input-group-addon">From:</div>
                                        <input id="blockchain1tx0from" type="text" value="@item.Sender" onkeyup="updateChain(1,1)" class="form-control" />
                                        <div class="input-group-addon">-></div>
                                        <input id="blockchain1tx0to" type="text" value="@item.Receiver" onkeyup="updateChain(1,1)" class="form-control" />

                                    </div>
                                    j++;
                                }
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            i++;
        }
    </div>

</div>
