﻿@model List<Node>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card-body">
                <h4 class="card-title">Add Blockchain Nodes</h4>
                <p class="card-title">Enter a list of Blockchain</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <form id="node_form" method="post" action="@Url.Action("RegisterNodes","Home")">
    <div class="row">
        <label class="col-sm-2">Node URLs:</label>
        <div class="col-sm-10">
            <input type ="text" name="nodes" id="nodes" rows="2" class="form-control" />
        </div>

        <br />

        <div class="row">
            <div class="col-lg-12 text-center">
                <input type="submit" id="add_node_button" class="btn btn-primary btn-lg" value="Add node" />

            </div>
        </div>
    </div>
</form>
</div>

<br />

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card-body">
                <h4 class="card-title">This node can receive blockchain data from the following nodes</h4>
            </div>
        </div>

        <div class="col-lg-12" id="list_nodes">
            <ul>
                @foreach(var item in Model)
                {
                    <li><a href="@item.Address">@item.Address</a></li>
                }
            </ul>foreach
        </div>
    </div>
</div>