﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card-body">
                <div class="card-title">
                    Transaction to be added to the next block
                    <button type="submit" id="refresh_transactions" class="btn btn-xs btn-primary">
                        <i class="glyphicon glyphicon-refresh"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    var transactions = ViewBag.Transactions as List<Transaction>;
}

<div class="container">
    <table id="unmined_transaction_table" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Receiver Address</th>
                <th>Sender Address</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 0;
            }
            @foreach (var item in transactions)
            {
                <tr>
                    <td>@i</td>
                    <td>@item.Receiver</td>
                    <td>@item.Sender</td>
                    <td>@item.Amount</td>
                </tr>
                i++;
            }
        </tbody>
    </table>
</div>

<div class="col-lg-12 text-center">
    <a href="@Url.Action("Mine", "Home")" id="miner_button" class="btn btn-primary btn-lg" value="">Mine</a>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card-body">
                <h4 class="card-title">
                    Transaction on the block chain
                    <button type="submit" id="refresh_blockchain" class="btn btn-xs btn-primary">
                        <i class="glyphicon glyphicon-refresh"></i>
                    </button>
                </h4>
            </div>
        </div>
    </div>
</div>

@{
    var blocks = ViewBag.Blocks as List<Block>;

}

<div class="container">
    <table id="transaction_table" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th width="20%">Receiver</th>
                <th width="20%">Sender</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Block</th>
            </tr>
        </thead>
        <tbody>
            @{
                int j = 1;
            }
            @foreach (var block in blocks)
            {
                foreach (var item in block.Transactions)
                {
                    <tr>
                        <td>@j</td>
                        <td>@item.Receiver</td>
                        <td>@item.Sender</td>
                        <td>@item.Amount</td>
                        <td>@block.TimeStamp</td>
                        <td>@block.Index</td>
                    </tr>
                    j++;
                }
            }
        </tbody>
    </table>
</div>



<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="~/static/datatables.js"></script>
<link rel="stylesheet" href="~/static/datatables.min.css" />

<script>
    $(document).ready((function () {

        $('#unmined_transaction_table').DataTable();
        $('#transaction_table').DataTable();

        $("#refresh_transactions").click(function () {

            window.location.reload();
        })

        $("#refresh_blockchain").click(function () {
            $.ajax({
                url: "/nodes/resolve",
                type: "GET",
                success: function (response) {
                    window.location.reload();
                },

                error: function (error) {
                    console.log(error);
                }
            })
        })
    }));
</script>

